#cart{
    width: 100%;
    position: relative;

    #cart-header{
        text-align: right;
        padding: 10px 0;
        cursor: pointer;
    }

    #cart-body{
        font-size: 16px;
        text-transform: none;
        width: 100%;
        position: absolute;
        background: #fff;
        z-index: 1000;
        right: -15px;
        box-shadow: 0 0 7px 2px #000000a1;
        padding: 5px;
        img{
            max-width: 60px;
        }
    }
}